img.Adacats.png {
    height: 200px
}

.blue-Cont {
    background-color: darkcyan;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pink-Cont {
    background-color: pink;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.grey-Cont {
    background-color: whitesmoke;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img {
    height: 200px;
    width: 200px;
}